<h3>Looking for:
  <input type="radio" value="male"> Male
  <input type="radio" value="female"> Female
</h3>

<h1>What do you Hate Today?</h1>
<% @dislikes.each do |dl| %>
  <h4><input class="dislike-select" type="radio" value="<%= dl.id %>"> <%= dl.type_of.titleize %></h4>
<% end %>
<button onclick="saveDislike()">Find Matches</button>