<form role="form" id="todays-pick-form" action="/dislikes" method="post">
  <% if current_user.gender_interest == nil %>
  <div class="gender-interest">
    <h1>Looking for: </h1>
    <div class="form-group">
      <input name="gender-pick" type="radio" value="male">
      <label for="men">
        Men
        <i class="fa fa-male"></i>
      </label>
    </div>
    <div class="form-group">
      <input name="gender-pick" type="radio" value="female">
      <label for="women">
        Women
        <i class="fa fa-female"></i>
      </label>
    </div>
  </div>
  <% end %>

  <div class="hate-today">
    <h1>What do you Hate Today?</h1>
    <% @dislikes.each do |dl| %>
    <div class="form-group">
      <input name="hate-pick" type="radio" value="<%= dl.id %>">
      <label for="<%= dl.id %>"><%= dl.type_of.titleize %></label>
    </div>
    <% end %>
  </div>
  <button id="todays-pick-btn" class="btn btn-default">Find Matches</button>
</form>