<h1>Welcome to Hate-To-Love</h1>
<div class="row">
  <a href="/users">
    <img id="landing-logo" src="http://belief1913.files.wordpress.com/2011/11/tumblr_kwij6timkf1qae80yo1_500.jpg">
  </a>
</div>

