<h3>Hate or Love?</h3>

<h3><%= current_user.name %>, <%= current_user.gender?.capitalize %></h3>

<h5>Looking for:
  <input type="radio" value="male">Male
  <input type="radio" value="female">Female
</h5>