<h1><%= @user.name %></h1>

<div class="profile-pic">
  <img src="<%= @user.image %>" alt="">
</div>

<% if current_user.dislike != nil %>
  <h1>Today, you hate: <%= @user.dislike %></h1>
<% else %>
  <h1><a href="/dislikes/new">What Do You Hate Today?</a></h1>
<% end %>

</ul>